<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Login and Sessinos</title>
	<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
	<div class="form-container">
		<p class="form-header">Login</p>
		<form method="POST">
			<label for="username">Username: </label>
			 <input type="text" name="username"><br>
			<label for="password">Password: </label>
			 <input type="password" name="password"><br>
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>